body {
  font-family: var(--vscode-editor-font-family);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  padding: 1.5rem;
}

.row {
  margin-bottom: 2.25rem;
}

.row h2 {
  padding-bottom: 0.4rem;
  border-bottom: 1px solid rgba(255, 165, 0, 0.5);
}

h3 {
  margin-top: 1.75rem;
}

img {
  background-color: white;
  border-radius: 4px;
  max-width: 100%;
  padding: 0.5rem;
}

.center {
  text-align: center;
}