body {
  font-family: var(--vscode-editor-font-family);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  padding: 1.5rem;
}

.item {
  margin-bottom: 2.25rem;
}

img {
  background-color: white;
  border-radius: 4px;
  max-width: 100%;
  padding: 0.5rem;
}

.center {
  text-align: center;
}